<h1>Welcome to {{title}}</h1>
<br> 
<form class="example-form" id="contac-form">
    <mat-form-field class="example-full-width">
      <!-- <input matInput placeholder="ummmm" #texto1 id="texto1" > -->
      <input matInput #texto1 id="texto1" >
    </mat-form-field>
</form>
    <br> 
    <br> 
    <br> 
    <form class="example-form" id="contac-form">
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Leave a comment" id="comentario1"></textarea>
    </mat-form-field>
</form>
    <br> 
    <br>
    <form class="example-form" id="contac-form">
    <mat-radio-group aria-label="Select an option" id="boton-radio">
        <mat-radio-button value="1"  #opcion1 id="opcion1"  >Femenino   </mat-radio-button>
        <mat-radio-button value="2"  #opcion2 id="opcion2" >Masculino</mat-radio-button>
      </mat-radio-group>




  </form>